<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_EmailPreview>
            <version>1.0.0</version>
        </Hackathon_EmailPreview>
    </modules>
    <global>
        <blocks>
            <hackathon_emailpreview>
                <class>Hackathon_EmailPreview_Block</class>
            </hackathon_emailpreview>
            <hackathon_emailpreview_adminhtml>
                <class>Hackathon_EmailPreview_Block_Adminhtml</class>
            </hackathon_emailpreview_adminhtml>
        </blocks>
        <models>
            <hackathon_emailpreview>
                <class>Hackathon_EmailPreview_Model</class>
            </hackathon_emailpreview>
        </models>
        <helpers>
            <hackathon_emailpreview>
                <class>Hackathon_EmailPreview_Helper</class>
            </hackathon_emailpreview>
        </helpers>
        <!--
        <resources>
            <hackathon_emailpreview_setup>
                <setup>
                    <module>Hackathon_EmailPreview</module>
                </setup>
            </hackathon_emailpreview_setup>
        </resources>
        -->
        <events>
            <hackathon_emailpreview_render_email_before>
                <observers>
                    <hackathon_emailpreview_sales_order_email>
                        <class>hackathon_emailpreview/mail_type_sales_orderEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_sales_order_email>
                    <hackathon_emailpreview_sales_invoice_email>
                        <class>hackathon_emailpreview/mail_type_sales_invoiceEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_sales_invoice_email>
                    <hackathon_emailpreview_sales_creditmemo_email>
                        <class>hackathon_emailpreview/mail_type_sales_creditmemoEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_sales_creditmemo_email>
                    <hackathon_emailpreview_sales_shipment_email>
                        <class>hackathon_emailpreview/mail_type_sales_shipmentEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_sales_shipment_email>
                    <hackathon_emailpreview_password_email>
                        <class>hackathon_emailpreview/mail_type_password</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_password_email>
                    <hackathon_emailpreview_account_email>
                        <class>hackathon_emailpreview/mail_type_account</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_account_email>
                </observers>
            </hackathon_emailpreview_render_email_before>
        </events>
    </global>
    <frontend>
        <routers>
           <hackathon_emailpreview>
               <use>standard</use>
               <args>
                   <module>Hackathon_EmailPreview</module>
                   <frontName>emailpreview</frontName>
               </args>
           </hackathon_emailpreview>
        </routers>
        <layout>
            <updates>
                <hackathon_emailpreview>
                    <file>hackathon_emailpreview.xml</file>
                </hackathon_emailpreview>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	<translate>
            <modules>
                <hackathon_emailpreview>
                    <files>
                        <default>Hackathon_EmailPreview/Hackathon_EmailPreview.csv</default>
                    </files>
                </hackathon_emailpreview>
            </modules>
        </translate>
    </adminhtml>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hackathon_EmailPreview before="Mage_Adminhtml">Hackathon_EmailPreview_Adminhtml</Hackathon_EmailPreview>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
    <!--
    <crontab>
        <jobs>
            <hackathon_emailpreview_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>hackathon_emailpreview/observer::methodName</model>
                </run>
            </hackathon_emailpreview_cron>
        </jobs> 
    </crontab>
    -->
</config>
