<?xml version="1.0"?>
<config>
  <modules>
    <Hackathon_EmailPreview>
      <version>1.0.0</version>
    </Hackathon_EmailPreview>
  </modules>
  <global>
    <blocks>
      <hackathon_emailpreview>
        <class>Hackathon_EmailPreview_Block</class>
      </hackathon_emailpreview>
    </blocks>
    <models>
      <hackathon_emailpreview>
        <class>Hackathon_EmailPreview_Model</class>
      </hackathon_emailpreview>
    </models>
    <helpers>
      <hackathon_emailpreview>
        <class>Hackathon_EmailPreview_Helper</class>
      </hackathon_emailpreview>
    </helpers>
    <email>
        <testtypes>
            <sendfriend>
                <name>Send product to a friend</name>
                <type>test_sendfriend_email_template</type>
            </sendfriend>
            <newsletter_confirm>
                <name>Confirm newsletter</name>
                <type>test_newsleter_subscribe_email_template</type>
            </newsletter_confirm>
            <newsletter_subscribe_success>
                <name>Newsletter subscribe success</name>
                <type>test_newsletter_subscribe_success_email_template</type>
            </newsletter_subscribe_success>
            <newsletter_unsubscribe_success>
                <name>Newsletter unsubscribe success</name>
                <type>test_newsletter_unsubscribe_success_email_template</type>
            </newsletter_unsubscribe_success>
            <sales_order_new>
                <name>New order</name>
                <type>test_sales_order_email_template</type>
            </sales_order_new>
            <sales_order_update>
                <name>Update order</name>
                <type>test_sales_order_update_email_template</type>
            </sales_order_update>
            <sales_invoice_new>
                <name>New invoice</name>
                <type>test_sales_order_invoice_email_template</type>
            </sales_invoice_new>
            <sales_invoice_update>
                <name>Update invoice</name>
                <type>test_sales_order_invoice_update_email_template</type>
            </sales_invoice_update>
            <sales_shipment_new>
                <name>New shipment</name>
                <type>test_sales_order_shipment_email_template</type>
            </sales_shipment_new>
            <sales_shipment_update>
                <name>Update shipment</name>
                <type>test_sales_order_shipment_update_email_template</type>
            </sales_shipment_update>
            <sales_creditmemo_new>
                <name>New creditmemo</name>
                <type>test_sales_order_creditmemo_email_template</type>
            </sales_creditmemo_new>
            <sales_creditmemo_update>
                <name>Update creditmemo</name>
                <type>test_sales_order_creditmemo_update_email_template</type>
            </sales_creditmemo_update>
            <account_new>
                <name>New account</name>
                <type>test_new_account_email_template</type>
            </account_new>
            <account_confirmation_key>
                <name>Account confirmation key</name>
                <type>test_new_account_confirmation_key_email_template</type>
            </account_confirmation_key>
            <account_confirmed>
                <name>Account confirmed</name>
                <type>test_new_account_confirmed_email_template</type>
            </account_confirmed>
            <password_forgot>
                <name>Forgot password</name>
                <type>test_forgot_password_email_template</type>
            </password_forgot>
            <password_remind>
                <name>Password reminder</name>
                <type>test_remind_password_email_template</type>
            </password_remind>
            <wishlist_share>
                <name>Share wishlist</name>
                <type>test_share_wishlist_email_template</type>
            </wishlist_share>
            <sitemap_generate_warnings>
                <name>Sitemap generate warnings</name>
                <type>test_sitemap_generate_warnings_email_template</type>
            </sitemap_generate_warnings>
            <token_status_change>
                <name>Token status change</name>
                <type>test_token_status_change_email_template</type>
            </token_status_change>
            <rma_new>
                <name>New RMA Request</name>
                <type>test_rma_new_email_template</type>
            </rma_new>
            <rma_auth>
                <name>RMA Request Authorization</name>
                <type>test_rma_auth_email_template</type>
            </rma_auth>
        </testtypes>
    </email>
    <!--
        <resources>
            <hackathon_emailpreview_setup>
                <setup>
                    <module>Hackathon_EmailPreview</module>
                </setup>
            </hackathon_emailpreview_setup>
        </resources>
        -->
        <events>
            <hackathon_emailpreview_render_email_before>
                <observers>
                    <hackathon_emailpreview_sendfriend_email>
                        <class>hackathon_emailpreview/mail_type_sendfriend</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_sendfriend_email>
                    <hackathon_emailpreview_newsletter_email>
                        <class>hackathon_emailpreview/mail_type_newsletter</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_newsletter_email>
                    <hackathon_emailpreview_sales_order_email>
                        <class>hackathon_emailpreview/mail_type_sales_orderEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_sales_order_email>
                    <hackathon_emailpreview_sales_invoice_email>
                        <class>hackathon_emailpreview/mail_type_sales_invoiceEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_sales_invoice_email>
                    <hackathon_emailpreview_sales_creditmemo_email>
                        <class>hackathon_emailpreview/mail_type_sales_creditmemoEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_sales_creditmemo_email>
                    <hackathon_emailpreview_sales_shipment_email>
                        <class>hackathon_emailpreview/mail_type_sales_shipmentEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_sales_shipment_email>
                    <hackathon_emailpreview_password_email>
                        <class>hackathon_emailpreview/mail_type_passwordEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_password_email>
                    <hackathon_emailpreview_account_email>
                        <class>hackathon_emailpreview/mail_type_accountEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_account_email>
                    <hackathon_emailpreview_token_status_change_email>
                        <class>hackathon_emailpreview/mail_type_tokenStatusChangeEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_token_status_change_email>
                    <hackathon_emailpreview_sitemap_generate_warnings_email>
                        <class>hackathon_emailpreview/mail_type_sitemapGenerateWarningsEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_sitemap_generate_warnings_email>
                    <hackathon_emailpreview_share_wishlist_email>
                        <class>hackathon_emailpreview/mail_type_shareWishlistEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_share_wishlist_email>
                    <hackathon_emailpreview_product_price_alert_email>
                        <class>hackathon_emailpreview/mail_type_productAlert_priceEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_product_price_alert_email>
                    <hackathon_emailpreview_product_stock_alert_email>
                        <class>hackathon_emailpreview/mail_type_productAlert_stockEmail</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_product_stock_alert_email>
                    <hackathon_emailpreview_rma_email>
                        <class>hackathon_emailpreview/mail_type_rmaNew</class>
                        <method>hackathonEmailpreviewRenderEmailBefore</method>
                    </hackathon_emailpreview_rma_email>
                </observers>
            </hackathon_emailpreview_render_email_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <hackathon_emailpreview>
                    <file>hackathon_emailpreview.xml</file>
                </hackathon_emailpreview>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
      <layout>
        <updates>
          <hackathon_emailpreview>
            <file>hackathon_emailpreview.xml</file>
          </hackathon_emailpreview>
        </updates>
      </layout>
      <translate>
            <modules>
                <hackathon_emailpreview>
                    <files>
                        <default>Hackathon_EmailPreview/Hackathon_EmailPreview.csv</default>
                    </files>
                </hackathon_emailpreview>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hackathon_EmailPreview before="Mage_Adminhtml">Hackathon_EmailPreview_Adminhtml</Hackathon_EmailPreview>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--
    <crontab>
        <jobs>
            <hackathon_emailpreview_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>hackathon_emailpreview/observer::methodName</model>
                </run>
            </hackathon_emailpreview_cron>
        </jobs> 
    </crontab>
    -->
</config>
